In [7]:
import pypowsybl as pp
network = pp.network.load("../resources/RTS_GMLC.mat")
pp.loadflow.run_ac(network)
network.get_lines()[['p1', 'p2', 'q1', 'q2']].round(2)

                    p1      p2     q1     q2
id
LINE-101-102      7.84   -7.84 -26.19 -24.32
LINE-101-103     -0.58    0.73  14.65 -20.08
LINE-101-105     52.74  -52.18   0.22  -0.55
LINE-102-104     34.94  -34.50  13.72 -15.65
LINE-102-106     43.90  -43.02  -4.74   2.50
...                ...     ...    ...    ...
LINE-320-323#0 -140.41  140.95 -11.91  10.87
LINE-321-322   -166.15  168.48  23.13 -21.16
LINE-325-121   -115.62  117.12   8.45 -18.69
LINE-318-223    -28.08   28.18  -8.12 -15.15
LINE-323-325   -115.62  115.62   9.54  -8.45

[105 rows x 4 columns]